{
  # User recommended
  extends: "eslint:recommended",

  # Global variables: false means that these are read-only
  globals: {
    fetch: false,
    require: false,
    document: true,
    window: true,
    jest: false,
    it: false,
    pit: false,
    describe: false,
    expect: false,
    module: false,
    beforeEach: false,
    afterEach: false
  }
}
